body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
    background-image: url('assets/background.png');
    background-size: cover;
    background-position: center;
    margin: 0;
    min-height: 100vh;
}

.header {
    padding: 20px;
}

.stats {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-weight: bold;
}

button {
    padding: 10px 30px;
    font-size: 1.2rem;
    cursor: pointer;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 600px;
    margin: 20px auto;
}

.hole {
    background: url('assets/lubang.png') bottom center no-repeat;
    background-size: contain;
    height: 150px;
    position: relative;
    overflow: hidden;
}

.mole {
    position: absolute;
    top: 100%;
    left: 20%;
    width: 60%;
    height: 100%;
    margin: 0 auto;
    background: url('assets/tikus.png') bottom center no-repeat;
    background-size: contain;
    transition: top 0.3s ease;
}

.mole.up {
    top: 10%;
}

/* State ketika tikus berhasil dipukul */
.mole.hit {
    background-image: url('assets/tikus hit.png');
}